ul
{
    list-style-type: none;
    margin: 0;
    padding: 6px;
    overflow: hidden;
    background-color: rgb(37, 35, 35);
}
li
{
    float: right;
}
li a
{
    display:block;
    color:blanchedalmond;
    padding: 16px;
    text-align: center;
    text-decoration: none;
}
li a:hover 
{
    background-color: black;
}